
.gameSection {
    display: flex;
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.gameOnBtn {
    position: absolute;
    z-index: 1;
}

.gameStage img{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
}
