html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.gameSection {
    margin: 0;
    width: auto;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.gameSection img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Game Button  */
.gameBtn {
    position: absolute;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: pointer;
    font-size: 150px;
    text-align: center;
    color: white;
    border-radius: 2rem;
    background-color: orange;
    
}
.gameBtn:hover {
    background-color: darkgoldenrod;
}
.gameBtn:active {
    box-shadow: 10px 5px 5px black;
}

/* Game Helper */
#setting {
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gameHelper {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    background-color: beige;
    border-radius: 2rem;
    width: 500px;
}

.hidden {
    display: none;
}

.gamePause {
    top: 40%;
    cursor: pointer;
    font-size: 80px;
    margin: 10px;
}

.gamePause:hover {
    color: red;   
}

/* Timer */
.timer {
    top: 10%;
    background-color: black;
    border-radius: 2rem;
    padding: 20px;
    margin: 10px;
}
.timer span {
    font-size: 70px;
    font-weight: bold;
    color: white;
}

/* Score */
.score {
    top: 25%;
    padding: 10px;
    background-color: bisque;
    border: 0.5rem solid;
    border-radius: 1rem;
    margin: 10px;
}

.score span {
    font-size: 70px;
    font-weight: lighter;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: brown;
}

/* Game stage */
.gameStage img {
    cursor: pointer;
    z-index: 2;
}

.gameStage img:hover {
    transform:scale(1.2, 1.2);  
    transition: transform.0.5s;  
}

